.ibm-plex-sans-thai-thin {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-thai-extralight {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-thai-light {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-thai-regular {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-thai-medium {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-thai-semibold {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-thai-bold {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h4{
  font-family: "IBM Plex Sans Thai", sans-serif;
}

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #fafafa;
  }
  #video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #input_video, #output_canvas {
    width: 320px;
    height: 240px;
    border-radius: 8px;
    background-color: #ddd;
  }
  #count-display {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .page-content{
      padding: 5%;
  }